<main class="main">
  <div class="top_image"></div>
  <div class="heading">
    <li class="title">
      <h2>メダカの飼育を
      <br>
      始めよう</h2>
    </li>
    <span  class="list">
      <div class="contents">目次</div>
      <a href="#me01" style="text-decoration:none;">◆メダカの飼育でありがちな問題</a>
      <br>
      <a href="#me02" style="text-decoration:none;">・バクテリアを添加しよう</a>
      <br>
      <a href="#me03" style="text-decoration:none;">・メダカと水草の相性</a>
      <br>
      <a href="#me04" style="text-decoration:none;">・エサは食べ切れる量にしよう</a>
      <br>
      <a href="#me05" style="text-decoration:none;">・メダカが病気になったとき</a>
      <br>
      <a href="#me06" style="text-decoration:none;">・藻がたくさん発生する</a>
      <br>
    </span>
  </div>

  <div class="middle_image"></div>

    <!-- 記事一覧 -->
  <div class="articles">

    <h2 id="me01" class="path"><span>　</span></h2>
    <div class="box box1">
      <div class="text text1">
        <h3>メダカの飼育でありがちな問題</h3>
        <p>
        ここではメダカの飼育で起こりがちなトラブルをご紹介します。それぞれの原因と解消法も解説するので、メダカの飼育でお悩みの方は目を通してみてください。
        </p>
      </div>
      <div class="pict pict1"></div>
    </div>

    <h2 id="me02" class="path"><span>　</span></h2>
    <div class="box box2">
      <div class="text text2">
        <h3>・バクテリアを添加しよう</h3>
        <p>
        メダカにとって良い水はろ過細菌が定着、増殖した水です。ろ過細菌とはメダカにとって有害な成分を分解して比較的無害な成分にする細菌類のことです。メダカのエサの食べ残しや排泄物などからアンモニアが発生します。アンモニアは生体に強い毒性を示します。これを分解するのがバクテリアなのです。
        </p>
      </div>
      <div class="pict pict2"></div>
    </div>

    <h2 id="me03" class="path"><span>　</span></h2>
    <div class="box box3">
      <div class="text text3">
        <h3>・メダカと水草の相性</h3>
        <p>
        水草も夜には呼吸をするので酸素を必要とします。そのため夏場などは、水槽内が酸素不足になることがあります。メダカは酸素不足に強いですが、エアレーションをするなどしてなるべく避けましょう。また、メダカの水槽に入れた水草が枯れてしまう原因の多くは光量不足です。
        </p>
      </div>
      <div class="pict pict3"></div>
    </div>

    <h2 id="me04" class="path"><span>　</span></h2>
    <div class="box box4">
      <div class="text text4">
        <h3>・エサは食べ切れる量にしよう</h3>
        <p>
        メダカには人間のように胃袋がありませんので、こまめに餌やりをする必要があります。一日の餌やりの回数は、一日1回から2回がおすすめです。やる時間は朝に1回と昼から夕方前に1回の計2回が良いでしょう。日が落ちて暗くなってくるとあまり餌を食べなくなります。
        </p>
      </div>
      <div class="pict pict4"></div>
    </div>

    <h2 id="me05" class="path"><span>　</span></h2>
    <div class="box box5">
      <div class="text text5">
        <h3>・メダカが病気になったとき</h3>
        <p>
        飼育しているメダカが病気になったときまずはどんな病気があり、どの病気になっているかを知り、その原因を見つけ出してから飼育環境・管理方法の改善をするべきです。薬はメダカに負担がかかるうえに、病種と原因をしっかりと把握して飼育環境・管理方法を改善しなければ、病気が治りにくくなり、薬で治ったとしても再び病気に罹る恐れがあるので注意しましょう。
        </p>
      </div>
      <div class="pict pict5"></div>
    </div>

    <h2 id="me06" class="path"><span>　</span></h2>
    <div class="box box6">
      <div class="text text6">
        <h3>・藻がたくさん発生する</h3>
        <p>
        コケはない方が良い場合とある方が良い場合があります。ない方が良い場合は水草や底床、レイアウト各種を使用している場合です。ある方が良い場合はベアタンク飼育の場合です。ベアタンクではろ過細菌の定着・繁殖場所や硝酸塩の分解者がコケ以外にはないためにコケはある方が良いです
        </p>
      </div>
      <div class="pict pict6"></div>
    </div>
  </div>
  <div class="last">
    <h1 class="last_comment">ご覧いただきありがとうございました！</h1>
    <a href="/" class="youtube">動画で詳しく知りたい方は、こちらからYouTubeにてご視聴ください</a>
  </div>
</main>