<main class="main">
  <div class="top_image"></div>
  <div class="heading">
    <li class="title">
      <h2>メダカの飼育を
      <br>
      始めよう</h2>
    </li>
    <span  class="list">
      <div class="contents">目次</div>
      <a href="#me01" style="text-decoration:none;">◆メダカの飼育でありがちな問題</a>
      <br>
      <a href="#me02" style="text-decoration:none;">・バクテリアを添加しよう</a>
      <br>
      <a href="#me03" style="text-decoration:none;">・水草とメダカの相性</a>
      <br>
      <a href="#me04" style="text-decoration:none;">・エサは食べ切れる量にしよう</a>
      <br>
      <a href="#me04" style="text-decoration:none;">・水草が枯れてしまう</a>
      <br>
      <a href="#me04" style="text-decoration:none;">・藻がたくさん発生する</a>
      <br>
      <a href="#me04" style="text-decoration:none;">・メダカが病気になったとき</a>
      <br>
    </span>
  </div>

  <div class="middle_image"></div>

    <!-- 記事一覧 -->
  <div class="articles">
    <h2 id="me01"><span> </span></h2>
    <div class="article1">
      <div class="img1">
      </div>
      <div class="text1">
      </div>
    </div>
  </div>
</main>